.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: black;
    border-radius: 5px;
    font-size : 50px;
  } 

  .list-group {
    display: none;
  }

  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
    display : none;
  } 

  .show {
    display: block;
  }

  .black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
  }

  .white-bg-show {
    background: white;
    border-radius: 5px;
    padding: 30px;
    display : show;
  } 